<html>
    <head>
        <title>Image Classification</title>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <section>
            <h2>Image Classification Using SVM</h2><h4>(Cars and Airplanes only!!)</h4><br>
            <p class="lead">Classify with <b>Just One Click</b><br>(credits: Samuel and Santhosh)</p>

            <!-- Upload  -->
            <form action="/upload" method="POST" id="file-upload-form" class="uploader" enctype="multipart/form-data">
            <input id="file-upload" type="file" name="file" accept="image/*" />

            <label for="file-upload" id="file-drag">
                <img id="file-image" src="#" alt="Preview" class="hidden">
                <div id="start">
                <i class="fa fa-download" aria-hidden="true"></i>
                <div>Select a file or drag here</div>
                <div id="notimage" class="hidden">Please select an image</div>
                <span id="file-upload-btn" class="btn btn-primary">Select a file</span>
                </div>
                <div id="response" class="hidden">
                <div id="messages"></div>
                <progress class="progress" id="file-progress" value="0">
                    <span>0</span>%
                </progress>
                </div>
                <div>
                <input id='sub_btn' class="btn btn-primary" type='submit'/>
                </div>
                
            </label>
            
            </form>
        </section>
        <section>
            <h1 style="clear:left; text-align: center;">hello</h1>
        </section>
    </body>
    <script src="script.js"></script>

</html>